# Node.js dependencies
node_modules/

# Build output
dist/

# Environment files
*.env

# IDEs and editors
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
client/.angular/cache/19.0.7/client/vite/deps/@angular_forms.js
