 
  .container {
    text-align: center;
  }

  .filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .filter-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #63aedf;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-input:focus {
    border-color: #4a90e2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .cars-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjust spacing between items */
    gap: 30px; /* Reduce gap between items */
    align-items: center;
    margin: 20px;
  }

  .notification-box { /* Thank you for your vote */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #63aedf; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    z-index: 1000;
    animation: fade-in-out 3s;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(10px);
    }
    10% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(10px);
    }
  }
  
  