.car-box {
    position: relative; /* ודא שזה relative */
    width: 300px;
    height: 300px;
    border: 2px solid gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .car-box:not(:hover) {
  transform: scale(0.95);
}
  
  .car-image {
    width: 90%;
    height: 90%;
    margin: auto;
    display: block;

  }

  .car-hover-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(97, 94, 94, 0.75);
    color: white;
    text-align: center;
    padding: 8px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 10;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 14px;
    backdrop-filter: blur(5px); /* אפקט טשטוש */
  }
  
  .car-box:hover .car-hover-name {
    opacity: 1;
  }

  .car-image.clicked {
    transform: scale(0.95); /*Indication for the user that the clicked worked*/
    transition: transform 0.2s;
  }
  
  .progress-bar-container {
    width: 200px;
    height: 20px;
    background-color: gray;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: rgb(255, 111, 0);
    transition: width 0.4s ease-in-out;
    
  }

  .votes-text {
  position: relative;
  z-index: 1; /* Ensure the text is visible on top of the bar */
  pointer-events: none; /* Prevent interaction with the text */
}  